<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-ios-background"
    version="0.1">
    <name>BackgroundTask</name>
	<description>Cordova background task plugin</description>
	<license>Apache 2.0</license>
	<keywords>cordova,background,task</keywords>
	<js-module src="www/bgTask.js" name="BgTask">
        <clobbers target="bgTask"/>
    </js-module>
    <platform name="ios">
		<config-file target="config.xml" parent="/*">
            <feature name="BackgroundTask">
                <param name="ios-package" value="BackgroundTask"/>
            </feature>
        </config-file>
        <header-file src="src/ios/BackgroundTask.h" />
        <source-file src="src/ios/BackgroundTask.m" />
	</platform>
</plugin>
